<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>amwares</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.min.css" rel="stylesheet">
		
		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<!--html5-page-->
        <!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="/assets/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
	</head>
    <body class="landing">
		<!-- Header -->
		<header id="header" class="alt {{# if isHome}}isHome{{/if}}">
			<div class="container">
				<h1><a href="/">Amwares</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">主页</a></li>
						<li>
							<a href="#" class="icon fa-angle-down">更多</a>
							<ul>
								{{# each navLinks}}
									<li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}}>
										<a href="{{ href }}">{{ label }}</a>
									</li>
								{{/each}}
							</ul>
						</li>
						{{#if user}}
							<li><a href="/keystone/signout" class="button">退出</a></li>
						{{else}}
							<li><a href="/keystone/signin" class="button">登录</a></li>
						{{/if}}
						</ul>
					</nav>
				</div>
			</header>
			<section id="page-wrapper">
                <!--
                    Flash messages allow you to display once-off status messages to users, e.g. form
                    validation errors, success messages, etc
                -->
				{{#if messages}}
                    <div id="flash-messages" class="container">
						{{#if messages.info}}
                            <div class="alert alert-info">
								{{{flashMessages messages.info}}}
                            </div>
						{{/if}}
						{{#if messages.success}}
                            <div class="alert alert-success">
								{{{flashMessages messages.success}}}
                            </div>
						{{/if}}
						{{#if messages.warning}}
                            <div class="alert alert-warning">
								{{{flashMessages messages.warning}}}
                            </div>
						{{/if}}
						{{#if messages.error}}
                            <div class="alert alert-danger">
								{{{flashMessages messages.error}}}
                            </div>
						{{/if}}
                    </div>
				{{/if}}
                <!-- The content block should contain the body of your template's content-->
				{{{body}}}
			</section>
			<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; 2014 广州辂轺信息科技有限公司 版权所有</li>
				</ul>
			</footer>
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="/js/jquery/jquery-2.1.4.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>
			
		<!--html5-page-->
		<script src="/assets/js/jquery.dropotron.min.js"></script>
		<script src="/assets/js/jquery.scrollgress.min.js"></script>
		<script src="/assets/js/skel.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="/assets/js/main.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
